{% extends "layouts/base.html.twig" %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-xl-4 mx-auto shadow h-400">
            <h3 class="text-center mt-5">Registration</h3>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button type="submit" class="btn btn-primary">Registre</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
