{% extends "base.html.twig" %}

{% block title 'edit pin' %}

{% block body %}
    <div class="container">
    <h3>Edit Pin</h3>
    {{ include('pins/_form.html.twig',{'form':form,'textBtnUpdate':'Update'}) }}
    </div>
{% endblock %}