.img:hover{
    transition: transform 0.25s ease-out;
    transform: scale(1.75);
}
.img{
    transition: transform 0.25s ease-out;
    transform: scale(1);

}

.h-300{
    height: 300px;
}

.h-400{
    height: 400px;
}

.h-500{
    height: 500px;
}

.h-700{
    height: 700px;
}