<footer class="container text-center mt-5">
<p class="text-muted">
<span>
        &copy; {{ 'now' | date('Y') }} &middot;
        Bulded By <span class="text-danger">&hearts;</span> Hackerfine
</span>
</p></footer>