{% extends "base.html.twig" %}

{% block title %}Liste de pin{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for pin in pins %}
                <div class="col-sm-4 mb-3">
                    <div class="card border-primary">
                      <div class="card-body">
                        <h4 class="card-title">{{ pin.title }}</h4>
                        <p class="card-text small">{{ pin.description }}</p>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}