<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
        {% endblock %}
    </head>
    <body>
    <header>
     <nav class="navbar navbar-expand navbar-light bg-faded shadow mb-5">
         <a class="navbar-brand" href="#">Navbar</a>
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
             <li class="nav-item active">
                 <a class="nav-link" href="#">Active <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#">Link</a>
             </li>

         </ul>
         <div class=" my-2 my-lg-0">
           <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
             <li class="nav-item active">
                 <a class="nav-link" href="#">PROFILE <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#">Se connecter</a>
             </li>
         </div>
     </nav>
    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('app/app.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
            <script>
  
            </script>
        {% endblock %}
    </body>
</html>
